{% extends "bseditor/base.html" %}
{% load staticfiles %}
{% load awltags %}
{% block title %}Edit CSS{% endblock title %}
 
{% block extra_head %}
<style>
body {
  padding-top:80px;
}
</style>
{% endblock extra_head %}

{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <form class="navbar-form">
            <div class="form-group">
              <label for="sheet-name" class="control-label">Sheet Name:</label>
              <input id="sheet-name" type="text" class="form-control"
                value="{{sheet.name}}"/>
              <span id="sheet-filename">{{sheet.filename}}</span>
            </div>
            <div class="form-group pull-right">
              <button id="save" class="btn btn-sm btn-primary">Save</button>
              <button id="cancel" class="btn btn-sm btn-default">Cancel</button>
              <button id="preview" class="btn btn-sm btn-success">
                Preview</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block contents %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="accordian" class="panel-group" role="tablist" 
        aria-multiselectable="true">
      {% for section in sass_base.sections.values %}
        <div class="section-panel panel panel-default">
          <div id="heading-{{section.slug}}" class="panel-heading" role="tab">
            <h3 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordian"
                  href="#collapse-{{section.slug}}" aria-expanded="false"
                  class="collapser collapsed" 
                  aria-controls="collapse-{{section.slug}}">
                {{section.name}}
              </a>
              <span class="has-edits glyphicon glyphicon-pencil"></span>
            </h3>
            {% if section.info %}
              <h5 class="text-muted">{{section.info}}</h5>
            {% endif %}
          </div>
          <div id="collapse-{{section.slug}}" role="tabpanel"
              class="panel-collapse collapse" 
              aria-labelledby="heading-{{section.slug}}">
            <div class="panel-body">
              {% for comp in section.components.values %}
                <form class="form-horizontal" role="form" autocomplete="off">
                  <div class="form-group">
                    <label for="comp-{{comp.slug}}" 
                        class="col-sm-2 control-label">
                      {{comp.name}}
                    </label>
                    <div class="col-sm-7">
                      <div class="input-group">
                        {% accessor comp 'name' as comp_name %}
                        <input id="comp-{{comp.slug}}" type="text" 
                            placeholder="{{comp.value}}" 
                            data-slug="{{comp.slug}}"
                          {% if sass_custom.all_components|getitem:comp.name %}
        value="{% accessor sass_custom 'all_components' [comp_name] 'value' %}"
                          {% endif %}
  class="var-edit form-control{%if comp.colour_value%} colour-value{%endif%}"/>
                        <div class="input-group-addon">
                          <a href="javascript:void(0)" class="copy-default"
                              title="set to default">
                            <span class="glyphicon glyphicon-tag"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1 text-center">
                      {% if sass_custom.all_components|getitem:comp.name %}
{% accessor sass_custom 'all_components' [comp_name] 'colour_value' as colour_value%}
                        {% if colour_value %}
                          <span class="form-control colour-swatch" 
                            style="background-color:{{colour_value}};">
                          </span>
                        {% endif %}
                      {% else %}
                        {% if comp.colour_value %}
                          <span class="form-control colour-swatch" 
                            style="background-color:{{comp.colour_value}};">
                          </span>
                        {% endif %}
                      {% endif %}



                    </div>
                  </div>
                </form>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade" id="preview-error-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Error Generating Preview</h4>
      </div>
      <div class="modal-body">
        <p id="preview-error"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock contents %}

{% block script %}
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}">
</script>

<script type="text/javascript">
// -------------------------------------------------------------
// Main
// -------------------------------------------------------------

// --- Globals
var sheet_data = {
  name:"{{sheet.name}}",
  version:{{sheet.version.id}},
};

// --- Methods
function section_has_edits(section) {
  var has_edits = false;
  section.find('.var-edit').each(function() {
    if( $(this).val().length != 0 ) {
      has_edits = true;
      return false;    // escape the each()
    }
  });

  if( has_edits ) {
    section.find('.has-edits').show();
  }
  else {
    section.find('.has-edits').hide();
  }
}


function colour_id(field) {
    var id = field.attr('id');
    return id.substr(5);
}


function ajax_update_colour(field) {
  var payload = $.extend({}, sheet_data);
  var id = colour_id(field);
  payload['sass_variable'] = id;

  // set the swatch to loading
  var swatch = field.closest('form').find('.colour-swatch');
  swatch.html('<span class="glyphicon glyphicon-hourglass"></span>');
  swatch.css('background-color', '#fff');

  $.ajax({
    type:'POST',
    url:'{{ajax_colour_value_url}}',
    data:{'payload':JSON.stringify(payload)},
    success:function(response) {
      if( response['success'] ) {
        swatch.html('');
        swatch.css('background-color', response['colour']);
      }
      else {
        swatch.css('color', 'red');
        swatch.html('<span class="glyphicon glyphicon-remove"></span>');
      }
    },
    error:function() {
        swatch.css('color', 'red');
        swatch.html('<span class="glyphicon glyphicon-remove"></span>');
    },
  });
}

// --- On Startup
$(function() {
  // Populate Data
  $('.section-panel').each(function() {
    section_has_edits($(this));
  });

  // Event Handers
  $('#sheet-name').on('input propertychange paste', function() {
    // input has changed, update the filename display
    var val = $(this).val();
    sheet_data['name'] = val;
    val = URLify(val) + '.css';
    $('#sheet-filename').html(val);
  });

  $('.var-edit').on('input propertychange paste', function() {
    // input has changed, update our section header
    section_has_edits($(this).closest('.section-panel'));
  });

  $('.var-edit.colour-value').on('change', function() {
    ajax_update_colour($(this));
  });

  $('#cancel').click(function() {
    window.location.assign('{{cancel_url}}');
    return false;
  });

  $('.copy-default').click(function() {
    var input = $(this).parent().parent().children('input');
    input.val(input.attr('placeholder'));
    section_has_edits($(this).closest('.section-panel'));
  });

  $('#save').click(function() {
    var payload = $.extend({}, sheet_data);
    payload['values'] = {};
    $('.var-edit').each(function() {

      payload['values'][
    });

    $.ajax({
      type:'POST',
      url:'{{ajax_save_sheet}}',
      data:{'payload':JSON.stringify(sheet_data)},
      complete:function() {
        window.location.assign('{{cancel_url}}');
        return false;
      },
    });

    return false;
  });

  $('#preview').click(function() {
    $.ajax({
      type:'POST',
      url:'{{ajax_save_preview}}',
      data:{'payload':JSON.stringify(sheet_data)},
      success:function(response) {
        if( response['success'] ) {
          window.open(response['preview_url'], '_blank')
          return false;
        }
        else {
          $('#preview-error').html(response['msg']);
          $('#preview-error-dialog').modal('toggle');
        }
      },
    });

    return false;
  });
});
</script>
{% endblock script %}
